@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap&family=Lexend+Zetta&display=swap&family=Squada+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

/*------------------------------------------------------------BACKGROUND STYLING*/
.start-background {
    background-image: linear-gradient(45deg, #df5a9c, #64c6e3);
    background-repeat: no-repeat;
    background-color: #df5a9c;
    
    
}

.easy-background {
    background-image: linear-gradient(45deg, #25bf5e, #79EA10, #0a652c);
    background-repeat: no-repeat;
    background-color: #25bf5e;
    
}

.medium-background {
    background-image: linear-gradient(45deg, #fde562, #ffb449, #f16400);
    background-repeat: no-repeat;
    background-color: #FD8631;
}

.hard-background {
    background-image: linear-gradient(45deg, #FF60BF, #FEACC0, #DB0E71);
    background-repeat: no-repeat;
    background-color: #DB0E71;
    
}

/*--------------------------------------------HOME BUTTON STYLING*/
.reset-home-btn {
    display: inline;
}

/*--------------------------------------------START BUTTON STYLING*/
.startbtn {
    font-family: Righteous, sans-serif;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    color: #032749;
    border: #032749 solid 3px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.startbtnbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    
}

.easy {
    background-color: #99CC33;
    padding-left: 2rem;
    padding-right: 2rem;
}

.medium {
    background-color: #FD8631;
}

.hard {
    background-color: #df5a9c;
    padding-left: 2rem;
    padding-right: 2rem;
}


/*------------------------------------------------------------LOGO STYLING*/

.logo {
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.logo img {
    max-width: 100%;
}

.start-screen-logo {
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

@media only screen and (max-width: 700px){
    
    .start-screen-logo {
        padding-top: 1rem;
    }
    
}  


.start-screen-logo img {
    max-width: 80%;
}

.logo2 {
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 2rem;
    padding-bottom: 1rem;
}

.logo2 img {
    max-width: 80%;
}

/*--------------------------------------------------HORIZONTAL RULE STYLING*/

.hr1 {
    border: none;
    height: 4px;
    background-color: #032749;
    margin-left: 20%;
    margin-right: 20%;
}


.hr2 {
    border: none;
    height: 3px;
    background-color: #032749;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 7px;
    margin-bottom: 7px;
}

/*--------------------------------------------------RULES STYLING*/

.rules-box {
    font-family: Righteous, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #032749;
    border: #032749 solid 3px;
    border-radius: 35px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: center;
    display: block;
}

.rules {
    padding-bottom: 15%;
    padding-top: 1rem;
}

.rules-title {
    margin-bottom: 0;
}

.rules-title,p {
    margin-bottom: 0;
}


/*--------------------------------------------------RULES MEDIA QUERIES*/
@media only screen and (min-width: 700px){

    .rules-box{
        margin-left: 25%;
        margin-right: 25%;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
}

@media only screen and (max-width: 320px){

    .rules-box{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .start-background {
        overflow: scroll;
    }
}

/*------------------------------------------------------TIMER & RESET BTN STYLING*/
a:hover {
    text-decoration: none;
    color: #032749;
}

.reset-btn-box, .reset-btn {
    font-family: Righteous, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    color: #032749;
    padding-bottom: 0.7rem; 
}

.reset-home-container {
    text-align: center;
    justify-items: center;
    margin-bottom: 1rem;
}

.reset-timer-container {
    font-family: Righteous, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #032749;
}

.reset-btn {
    font-size: 20px;
    background-color: #99CC33;
    border: #032749 solid 2px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin-top: 1rem;
}


/*--------------------------------------------------------CARD STYLING*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.card.show-card .card-back {
    transform: rotateY(-180deg);
}

.card.show-card .card-front {
    transform: rotateY(0);
}

.card {
    background-color: #032749;
    height: 130px;
    width: 100px;
    margin: 10px;
    position: relative;
    border-radius: 20px;
}

.card-front {
    background-color: #0663BB;
    border-radius: 20px;
    transform: rotateY(180deg);
}


.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 600ms ease-in-out;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/*--------------------------------------------------MEDIA QUERIES FOR CARD & ICON SIZES AND MARGINS*/
@media only screen and (max-width: 320px){

    .card {
        background-color: #032749;
        height: 100px;
        width: 70px;
    }

    img {
        width: 80%;
        height: auto;
    }
}


@media only screen and (min-width: 700px){

    .card-container.container {
        max-width: 70%; 
    }

}

@media only screen and (min-width: 1000px){

    .card-container.container {
        max-width: 60%; 
    }
    
    .logo2 img {
        max-width: 60%;
    }

    .card {
        height: 150px;
        width: 120px;
    }

    img {
        width: 55%;
        height: auto;
    }
}

@media only screen and (min-width: 1200px){

    .card {
        height: 170px;
        width: 150px;
    }

    img {
        width: 60%;
        height: auto;
    }

    .logo2 img {
        max-width: 40%;
    }

    .start-background {
        overflow: hidden;
    }


}

@media only screen and (min-width: 1200px) {
    
    .start-screen-logo {
        padding-top: 1rem;
    }

    .start-background {
        overflow: hidden;
    }


}

@media only screen and (min-width: 1400px){

    .card-container.container {
        max-width: 50%; 
    }

    .start-screen-logo img {
        max-width: 50%;
        margin-top: 0;
    }

    
}

@media only screen and (min-width: 1600px){

    .card-container.container {
        max-width: 50%; 
    }

    .card {
        background-color: #032749;
        height: 170px;
        width: 150px;
    }

    .icon {
        width: 60%;
        height: auto;
    }

    .logo2 img {
        max-width: 30%;
    }

    .start-screen-logo img {
        max-width: 50%;
        margin-top: 0;
    }
}

@media only screen and (min-width: 1920px) {


    .card-container.container {
        max-width: 40%; 
    }

    .start-screen-logo img {
        max-width: 50%;
        margin-top: 0;
    }

    .rules-box {
        margin-left: 30%;
        margin-right: 30%;
    }

}




/*--------------------------------------------------------YOU WIN OVERLAY STYLING*/
.overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: none;
    
}

.overlay.visible {
    background-color: #032749b8;
    display: flex;
}

.overlay-text {
    font-family: Righteous, sans-serif;
    font-size: 10vh;
    font-style: normal;
    font-weight: 400;
    color: #df5a9c;
    text-align: center;
}

.overlay-btn {
    font-family: Righteous, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #032749;
    border: solid 3px #032749;
    border-radius: 20px;
    padding: 1rem;
    background-color: #99CC33;
}